<%- model_class = Trip -%>

<h2>Trips</h2>

<table class="table table-hover table-bordered table-striped">
  <thead>
    <tr>
      <th id="detail">Detalhes</th>
      <th>Name</th>
      <th>Description</th>
      <% if current_user.super_user %>
        <th><%=t 'actions', :default => t("helpers.actions") %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <%# @trips.each do |trip| %>
		<%= sync partial: 'trip_row', collection: @trips %>
    <%# end %>
	<%= sync_new partial: 'trip_row', resource: Trip.new, direction: :append %>
  </tbody>
</table>

<br>

<% if current_user.super_user %>
  <div class="add-master-button">
    <%= link_to t('helpers.titles.new',:model => model_class.model_name.human), new_trip_path, class: 'btn btn-primary' %>
  </div>
<% end%>