<p>
  <strong>Description:</strong>
  <%= @poll.description %>
</p>

<p>
  <strong>Complement:</strong>
  <%= @poll.complement %>
</p>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
