<tr>
    <td><%= link_to '  ' + event.name, event, :class=>"icon-search" %></td>
    <% if member_of?(event, current_user) %>
      <th><%=t("participating")%></th>
    <% else %>
      <th><%= link_to t("request_participation"), request_participation_event_path(event) %>
      </th>
    <% end %>
</tr>
