/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body{
    height: 100%;
    /*background: url('/assets/bg.png') repeat;*/
}

/*body > #wrap {
  height: auto; 
  min-height: 100%;
}*/

#wrap {
	height: auto;
	min-height: 100%;
}

.container .credits {
    margin: 5px 0;
}

.credits {
    /*position: absolute;*/
    padding: 0;
    text-align: center;
    aling: center;
    /*left: 0;
    width: 200px;*/
}

#main {
	overflow:auto;
	padding-bottom: 30px; /* deve ter a mesma altura do rodapé */
}

#footer .container{
	position: relative;
	/*background-color: #272B35;*/
	background-color: #EFEFEF;
	color: white;
	/*min-height: 100%;*/
	/*width: auto !important;*/
	width: 100%;
	margin-top: -30px;
	bottom:0;
	clear:both
}